.BuyModal
  margin-top: 3em
  overflow-y: visible

.BuyModal__content
  display: none
  position: relative
  &.is-active
    display: flex

  @media screen and (max-width: 680px)
    flex-direction: column
    align-items: center

.BuyModal__image
  height: 300px
  max-width: 200px
  min-width: 200px
  margin-top: -3em
  margin-bottom: -3em
  overflow: auto

  @media screen and (max-width: 680px)
    height: 150px
    max-width: 100px
    min-width: 100px
    margin-bottom: 1em

.BuyModal__info
  flex: 1

.BuyModal__title
  padding: 0
  margin: .2em .5em

  @media screen and (max-width: 680px)
    font-size: 2em

.BuyModal__price
  padding: 0
  margin: .2em .5em

  @media screen and (max-width: 680px)
    font-size: 2em

.BuyModal__preloader
  display: none
  height: 100%
  padding-top: 1em

  &.is-active
    display: flex
    justify-content: center
    align-items: center

.BuyButton.BuyButton.BuyButton.BuyButton,
.BuyConfirm.BuyConfirm.BuyConfirm.BuyConfirm
  @media screen and (max-width: 680px)
    float: none
    margin-top: -1em

.BuyModal__confirmation,
.BuyConfirm,
.BuyButton
  display: none
  &.is-active
    display: block
