<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width; user-scalable=no; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="./estrenos.html">Mis peliculas</a></li>
      <li class="divider"></li>
      <li><a href="./home.html">Logout</a></li>
    </ul>
    <nav class="Navbar red darken-1"><a href="./home.html" class="brand-logo">Rental</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./estrenos.html">Estrenos</a></li>
        <li><a href="./movie.html">Random</a></li>
        <li><a href="#!" data-activates="dropdown1" class="dropdown-button">@Usuario<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul id="slide-out" class="side-nav">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./estrenos.html">Estrenos</a></li>
        <li><a href="./movie.html">Random</a></li>
        <li><a href="./estrenos.html">Mis peliculas</a></li>
        <li class="divider"></li>
        <li><a href="./home.html">Logout</a></li>
      </ul><a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu material-icons">menu</i></a>
    </nav>
  </div>
  <div class="Content">
    <h3 class="red-text text-darken-1">Recomendados</h3>
    <div class="card-panel black Carousel">
      <div class="carousel"><a href="./movie.html" class="carousel-item"><img src="../assets/sw.jpg"></a><a href="./movie.html" class="carousel-item"><img src="../assets/sw.jpg"></a><a href="./movie.html" class="carousel-item"><img src="../assets/sw.jpg"></a><a href="./movie.html" class="carousel-item"><img src="../assets/sw.jpg"></a></div>
    </div>
    <h3 class="red-text text-darken-1">Nuevas peliculas</h3>
    <ul class="MovieList">
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
      <li class="MovieList__item">
        <div class="MovieList__card card hoverable">
          <div class="card-image waves-effect waves-block waves-light"><a href="./movie.html"><img src="../assets/sw.jpg" class="activator"></a></div>
          <div class="MovieList__content card-content"><a href="./movie.html"><span class="card-title activator grey-text text-darken-4 truncate">Star Wars Episode</span></a>
            <p class="MovieList__price"> <a href="#!" class="red-text right">$4.99</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript">
     
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
  </script>
  <script>
     
    $(document).ready(function(){
      $('.carousel').carousel();
    });
  </script>
</body>