
<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/views/estrenos.html">Mis peliculas</a></li>
    <li class="divider"></li>
    <li><a href="/views/home.html">Logout</a></li>
  </ul>
  <nav class="Navbar red darken-1"><a href="/views/home.html" class="brand-logo">Rental</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="../home.html">Home</a></li>
      <li><a href="../estrenos.html">Estrenos</a></li>
      <li><a href="../movie.html">Random</a></li>
      <li><a href="#!" data-activates="dropdown1" class="dropdown-button">@Usuario<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <ul id="slide-out" class="side-nav">
      <li><a href="/views/home.html">Home</a></li>
      <li><a href="/views/estrenos.html">Estrenos</a></li>
      <li><a href="/views/movie.html">Random</a></li>
      <li><a href="/views/estrenos.html">Mis peliculas</a></li>
      <li class="divider"></li>
      <li><a href="/views/home.html">Logout</a></li>
    </ul><a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu material-icons">menu</i></a>
  </nav>
</div>