<!DOCTYPE html>
<html lang="es"></html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width; user-scalable=no; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/form.css">
</head>
<body>
  <div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="./estrenos.html">Mis peliculas</a></li>
      <li class="divider"></li>
      <li><a href="./login.html">Logout</a></li>
    </ul>
    <nav class="Navbar red darken-1"><a href="./home.html" class="brand-logo">Rental</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./estrenos.html">Categorias</a></li>
        <li><a href="./movie.html">Random</a></li>
        <li><a href="#!" data-activates="dropdown1" class="dropdown-button">@Usuario<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul id="slide-out" class="side-nav">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./estrenos.html">Estrenos</a></li>
        <li><a href="./movie.html">Random</a></li>
        <li><a href="./estrenos.html">Mis peliculas</a></li>
        <li class="divider"></li>
        <li><a href="./login.html">Logout</a></li>
      </ul><a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu material-icons">menu</i></a>
    </nav>
  </div>
  <div class="Content">
    <div class="Login row">
      <div class="card-panel col s12 push-m2 m8 push-l3 l6 Login__card">
        <h1 class="align-text center Login__title">Registrar</h1>
        <form action="#">
          <div class="input-field Login__input"><i class="material-icons prefix">account_circle</i>
            <input id="username" type="text" required class="validate">
            <label for="username" data-error="Formato incorrecto">Username</label>
          </div>
          <div class="input-field Login__input"><i class="material-icons prefix">mail</i>
            <input id="email" type="email" required class="validate">
            <label for="email" data-error="Formato incorrecto">Email</label>
          </div>
          <div class="input-field Login__input"><i class="material-icons prefix">lock</i>
            <input id="password" type="password" required class="validate">
            <label for="password">password</label>
          </div>
          <div class="input-field Login__input"><i class="material-icons prefix">lock</i>
            <input id="password_confirmation" type="password" required class="validate">
            <label for="password_confirmation">Comfirmar contraseña</label>
          </div>
          <div class="input-field center Login__input">
            <input type="submit" class="waves-effect waves-light btn red">
          </div>
          <p class="Login__text center">¿Ya estas registrado? <a href="./login.html" class="Login__link">¡Ingresa!</a></p>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript">
     
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
  </script>
</body>