div.card-panel.black.Carousel
  div.carousel
    a.carousel-item(href='/views/movie.html')
      img(src='/assets/sw.jpg')
    a.carousel-item(href='/views/movie.html')
      img(src='/assets/sw.jpg')
    a.carousel-item(href='/views/movie.html')
      img(src='/assets/sw.jpg')
    a.carousel-item(href='/views/movie.html')
      img(src='/assets/sw.jpg')
